.container {margin-top: 20px;}

#table1 {
    color: crimson;
    font-size: 18px;
    font-weight: 200;
}
.tbody {
    background-color: white;
    color: black;
}
#dropdown-basic1 {
    background-color: white !important;
    color: black !important;
    
}
.dropdown-toggle::after {
    display: none !important; 
  }
#three_dot{
    background-color: white !important;
}
#badge {
    color: white;
    font-size: 17px;
    font-weight: 200;
}
#badge i {
    font-size: 15px;
}
#three {
    background-color: white;
    
}
#more {
    background-color: white !important;
    color: black !important;
    font-size: 17px;
    font-weight: 200;
}
#more i {
   
    font-size: 20px;
}